<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Fuji California</title>
    <link href="style.css" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <div class="aboutback">
    <h1>About</h1>
    <script src="script.js"></script>
    <div class="topnav">
      <a href="menu.html">Menu</a>
      <a href="index.html">Main</a>
      <a href="locations.html">Locations</a>
      <a href="specials.html">Specials</a> 
      <a href="ingredients.html">Ingredients</a>
    </div> 

  <h1>- Story -</h1>
  <div class="size">
    <p> We have been making sushi since 1991.</p>
    <p>We built this restuarant to bring Japan's food to you</p>
    <p>Our motto is to make our customers smile with our awesome services.</p>
  </div> 
  <div class="lol">
    <p>We have problems during covid, If you would like to support our restaurant, you could give tip to the restaurant. We are also hiring for Waiters.</p>
  </div>
  <div class="center">
    <p>Our goal is to expand the restaurant so there would be more room for our customers.</p>

    <h2>Restaurant Founders: Viktor Morais, Kody Gonzalez and Eddie Vu.
    </h2>
  </div>

  </div>
  </body>
</html>
