<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Fuji California</title>
    <link href="style.css" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <h1>Fuji California</h1>
    <div class="topnav">
      <a class="active" href="index.html"></a>
      <a href="menu.html">Menu</a>
      <a href="about.html">About</a>
      <a href="locations.html">Locations</a> 
      <a href="specials.html">Specials</a> 
      <a href="ingredients.html">Ingredients</a> 
    </div>



  </body>
</html>
