<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Fuji California</title>
    <link href="style.css" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <h1>Fuji California</h1>
    <div class="topnav">
      <a href="menu.html">Menu</a>
      <a href="index.html">Main</a> 
      <a href="about.html">About</a>
      <a href="locations.html">Locations</a> 
      <a href="specials.html">Specials</a> 
    </div>
     <H2>Our Sourced Ingredients</H2>
     <p>
        All of our choice seafood come from all around the world where they are ethically fished in limited numbers to reduce the enviromental impact and avoid the horror of fish farms. 
       <br>
       <br>
         Salmon - Caught in Alaska 
       <br>
         Halibut - Caught in International Pacifc Waters 
       <br>
          Ahi Tuna - Caught in Hawaii
       <br>
          Octopus - Caught in International Pacific Waters
       <br>
          Shrimp - Caught off The Coast of Oregon
       <br>
       <br>
          These cows are treated with the upmost respect for their legendary status of choice meat. We choose to use these cows for not only their imaculate marbling and taste but for the sustainability and ethicall farming techniques used produce this meat. 
       <br>
       <br>
          Japanese Miyazaki Wagyu Cows - Farmed in the Kyushu Region of Japan 
       <br>
          Chicken, Beef, Pork - Locally Farmed here in Santa Barbara County
       <br>
       <br>
          Vegtables are used in almost all of our dishes and that is why it is important for us to serve the best we can offer for your heath and the planet's.
       <br>
       <br>
          Seaweed - Grown in Alaska
       <br>
          Mushrooms, Cucumbers, Carrots, Celery, Avacado, Onions, Spinach  - Grown locally here in Santa Barbara County
       <br>
          
     </p>
  </body>
</html>
